<div class="c-status-wrapper">
  <div class="c-status">
    <div class="test">
      <svg class="c-icon c-icon--status"><use xlink:href="#icon-globe"></use></svg>
      Reminder: You haven't yet selected a project for your registry!
    </div>
  </div>
</div>
