<div class="c-paragraph">
	<h2 class="c-paragraph__heading">
		Our Story
	</h2>
	<p class="c-paragraph__text">
		Both strangers to Boston and ready for adventure, we met in 2010. For five years we've had amazing, crazy, and unforgettable experiences together.  Last November, James proposed while camping in Yellowstone National Park, and it was utterly perfect. We could not be more excited to spend the rest of our lives looking for new adventures together.
	</p>
</div>