<div class="c-project-tabbed">
	<div class="c-project-tabbed__header">
		PROJECT
		Support life saving surgeries in Guatemala
	</div>
	<ul class="c-project-tabbed__menu">
		<li>Overview</li>
		<li class="active">Problem & Solution</li>
		<li>How It Works</li>
		<li>Sustainability</li>
	</ul>
	<div class="c-project-tabbed__content">
		Tabbed content stuff goes in here blah blah blah
	</div>
</div>