<div class="c-project-tabbed">
	<div class="c-project-tabbed__header">
		<div class="c-project-tabbed__header--wrapper">
			<span class="c-project-tabbed__header--subtitle">PROJECT</span>
			<h2 class="c-project-tabbed__header--title">Support life saving surgeries in Guatemala</h2>
		</div>
		<div class="c-project-tabbed__header--overlay"></div>
	</div>
	<ul class="c-project-tabbed__menu">
		<li class="c-project-tabbed__menu-item active">
			<a href="#">Overview</a>
		</li>
		<li class="c-project-tabbed__menu-item">
			<a href="#">Problem & Solution</a>
		</li>
		<li class="c-project-tabbed__menu-item">
			<a href="#">How It Works</a>
		</li>
		<li class="c-project-tabbed__menu-item">
			<a href="#">Sustainability</a>
		</li>
	</ul>
	<div class="c-project-tabbed__content">
		<div class="c-project-tabbed__content--overview">
			<p class="c-project-tabbed__content--overview--summary">
				Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.
			</p>
			<aside class="c-project-tabbed__content--overview--partner">
				<span>Project Partner</span>
				<h4>HELPS International</h4>
				<div class="geography">Guatemala</span>
				<a href="#" class="site">helpsintl.org</a>
			</aside>
		</div>
	</div>
</div>