<div class="registry-card">
	<h3 class="registry-card__title">
		Surgical equipment (sponges, needles, clamps, scalpels, etc)
	</h3>
	<div class="registry-card__price">
		$30
	</div>
	<button class="registry-card__cart" />
</div>