<div class="c-registry-card">
	<h3 class="c-registry-card__title">
		Surgical equipment (sponges, needles, clamps, scalpels, etc)
	</h3>
	<div class="c-registry-card__info">
		<div class="c-registry-card__price">
			$30
		</div>
		<button class="c-registry-card__cart">
			<span>Add to Cart</span>
		</button>
	</div>
</div>