@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin font-subhed {
  font-family: 'Roboto Slab';
  font-weight: 300;
  @include vendor-prefix(font-smoothing, antialiased);
}

@mixin font-meta {
	font-family: 'Avenir Next';
	text-transform: uppercase;
	letter-spacing: 0.5pt;
	font-weight: 600;
	@include vendor-prefix(font-smoothing, antialiased);
}

@mixin font-fancy {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: italic;
}

// TODO:
// input style mixins
// button focus/outline mixins

.section {
  margin-bottom: $padding-base*2;
}

.c-breaker {
	padding: ($padding-base*2) 0;
	&.gray {
		background: $color-breaker-gray;
	}
	&.purple {
		background: $color-purple-lightest;
	}
  &.white {
    background: #fff;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
  }
}

.meta {
	@include font-meta;
	color: $color-medium-gray;
	margin-bottom: $padding-base;
}

.center {
	text-align: center;
}

// Columns
.col {
	display: inline-block;
	vertical-align: top;
	padding-right: $padding-base;
	&:last-child {
		padding-right: 0;
	}
}

.col-1-2 {
	width: 50%;
}

// Flex children
.flex {
	display: flex;
	justify-content: space-around;
  align-items: flex-start;
}

// if you want flexbox in a two column layout
.flex-2 {
	width: 45%;
}
