---
title: Heartful.ly Create A Registry
---
<%= partial "svg" %>

<%= partial "components/nav" %>

<div class="c-breaker gray">
  <div class="test">
    <div class="c-card">
      Couple Info | Select A Project | Preview Registry
      <%= partial "components/forms" %>
    </div>
    <!-- let's make card into its own class and make this section up with helpers only -->
  </div>
</div>


<%= partial "components/footer" %>
