.c-project-tabbed {
	margin: 0 auto;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 10px;
	&__header {
		position: relative;
		height: 400px;
		background: url('http://media.npr.org/assets/img/2015/08/21/ballet2-edit_custom-e2652607fbfa2d04ec7fb756ab9f7581c98a034c-s800-c85.jpg');
		color: #fff;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient((rgba(0,0,0,0)), rgba(0,0,0,0.9));
		}
	}
}