.c-quote {
  border-top: 1px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;
  &__content {
    padding: $padding-base*2 0;
  }
  &__quote {
    @include font-subhed;
    font-size: 1.7em;
    position: relative;
    &:before {
      content: '“';
      position: absolute;
      top: 0;
      left: -($padding-base);
      color: $color-purple-deep;
      font-size: 1.8em;
    }
  }
}