.c-registry-card {
	padding: $padding-base;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	&__title {
		font-size: 1.2em;
		margin-bottom: ($padding-base/2);
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		font-size: 2em;
	}
	&__cart {
		position: relative;
		border: 3px solid $color-purple-deep;
		color: $color-purple-deep;
		text-transform: uppercase;
		font-weight: 600;
		background: #fff;
		padding: 10px;
		@include vendor-prefix(transition, 0.2s ease-in-out);
		overflow: hidden;
		span {
			z-index: 1;
			width: 100%;
		}
		&:hover {
			//background: $color-purple-deep;
			//color: #fff;
			span { 
				display: inline-block;
				@include vendor-prefix(transition, 0.2s ease-in-out);
				@include vendor-prefix(transform, translateX(130%));
			}
			&:before {
				@include vendor-prefix(transition, 0.2s ease-in-out);
				@include vendor-prefix(transform, translateX(0));
				width: 50%;
			}
		}
		&:before {
			content: '';
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			color: #fff;
			background: $color-purple-deep;
			opacity: 0.3;
			width: 0;
			@include vendor-prefix(transform, translateX(-100%));
		}
	}
}

/* Sacnite */
.button.button--sacnite {
	width: 70px;
	height: 70px;
	min-width: 0;
	padding: 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.button--scanite.button--round-l {
	border-radius: 50%;
}
.button--sacnite.button--inverted {
	color: #37474f;
}
.button--sacnite::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	box-shadow: inset 0 0 0 35px #37474f;
	-webkit-transform: scale3d(0.9, 0.9, 1);
	transform: scale3d(0.9, 0.9, 1);
	-webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
	transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
	box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite .button__icon {
	font-size: 22px;
	width: 22px;
}
.button--sacnite > span {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.button--sacnite:hover {
	color: #37474f;
}
.button--sacnite.button--inverted:hover {
	color: #fff;
}
.button--sacnite:hover::before {
	box-shadow: inset 0 0 0 2px #37474f;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted:hover::before {
	box-shadow: inset 0 0 0 2px #fff;
}