.c-registry-card {
	padding: $padding-base;
	margin-bottom: $padding-base;
	border-radius: 5px;
	background: #fff;
	@include vendor-prefix(transition, 0.2s ease-in-out);
	box-shadow: 0 1px 0 0 hsla(0, 0%, 0%, 0.1);
	&:hover {
		@include vendor-prefix(transform, scale3d(1.03,1.03,1.03));
	}
	&__title {
		font-size: 1.2em;
		margin-bottom: ($padding-base/2);
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		font-size: 2em;
	}
  &__gift,
	&__cart {
		position: relative;
		border: 3px solid $color-purple-deep;
		color: $color-purple-deep;
		text-transform: uppercase;
		font-weight: 600;
		background: #fff;
		padding: 10px;
		outline: none;
		@include vendor-prefix(transition, 0.2s ease-in-out);
		overflow: hidden;
		span {
			z-index: 1;
			width: 100%;
		}
		&:hover {
			background: $color-purple-deep;
			color: #fff;
		}
	}
	&__qty {
		opacity: 0;
		height: 0;
		overflow: hidden;
		@include vendor-prefix(transition, 0.2s ease-in-out);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include vendor-prefix(transform, translateY(-30%));
		&.active {
			opacity: 1;
			height: auto;
			padding: $padding-base 0px;
			border-top: 1px solid $color-light-gray;
			margin-top: $padding-base;
			-webkit-animation: grow 0.2s ease-in-out forwards;
			//@include vendor-prefix(transform, translateY(0%));
		}
		label {
			font-size: 0.8em;
			margin-right: 10px;
		}
		input {
			display: block;
			max-width: 50px;
			padding: 10px;
		}
	}
}

@-webkit-keyframes grow {
	0% {
		height: 0;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		height: auto;
		@include vendor-prefix(transform, translateY(0%));
		opacity: 1;
	}
}
