<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<!-- Map marker -->
<symbol id="icon-map" viewBox="10 10 80 80">
  <title>Map marker</title>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M67.498,42.381C65.5,50.5,54.5,67.5,54.5,67.5s-2,3-4,3s-4-3-4-3  s-11-17-12.997-25.119C32.864,40.535,32.5,38.562,32.5,36.5c0-9.941,8.059-18,18-18c9.941,0,18,8.059,18,18  C68.5,38.562,68.137,40.535,67.498,42.381z M50.5,29.5c-3.866,0-7,3.134-7,7s3.134,7,7,7c3.866,0,7-3.134,7-7S54.366,29.5,50.5,29.5  z M50.5,73.506c8.284,0,15,2.235,15,4.994c0,2.758-6.716,4.994-15,4.994s-15-2.236-15-4.994C35.5,75.741,42.216,73.506,50.5,73.506z  "/>
</symbol>

<!-- Hyperlink icon -->
<symbol id="icon-link" viewBox="0 0 100 100">
  <title>Hyperlink</title>
  <path d="M92.071,7.974C81.305-2.793,64.024-2.431,53.529,8.065L41.043,20.55c7.329-2.352,13.028-0.724,18.005,1.357l3.619-3.619  c5.157-5.157,13.752-4.886,18.819,0.181c5.157,5.157,5.519,13.843,0.362,19L65.019,54.298c-1.9,1.9-4.071,2.986-6.514,3.619  c-6.514,0.905-12.757-2.352-15.109-8.052L32.357,60.54c7.6,11.49,23.343,15.381,35.828,8.324c2.081-1.086,4.071-2.714,5.881-4.524  l17.914-17.914C102.476,35.931,102.838,18.741,92.071,7.974z M32.538,30.503c-2.171,1.086-4.162,2.714-5.881,4.524L8.019,53.574  C-2.476,64.069-2.838,81.259,7.929,92.026s28.047,10.405,38.543-0.09L58.957,79.45c-7.329,2.352-13.028,0.724-18.005-1.357  l-3.619,3.619c-5.157,5.157-13.752,4.886-18.819-0.181c-5.157-5.157-5.519-13.843-0.362-19l17.462-17.462  c1.9-1.9,4.071-2.986,6.514-3.619c6.514-0.905,12.757,2.352,15.109,8.052l11.129-10.676C60.676,27.336,44.933,23.445,32.538,30.503z  "/>
</symbol>

</defs>
</svg>