---
title: Heartful.ly Components
---

<!--<h1>Heartful.ly Components</h1>
<%#= link_to "Subhed", "components/subhed.html" %>
<%#= link_to "Paragraph", "components/paragraph.html" %>
<%#= link_to "Circle Photo", "components/circle.html" %>
<%#= link_to "Project: Tabbed", "components/project-tabbed.html" %>-->


<header class="c-hero section">
	<div class="c-hero__container">
		<h1 class="c-hero__couple">James & Sarah</h1>
		<span class="c-hero__date">May 14, 2016</span>
	</div>
</header>

<div class="test">

	<div class="c-breaker section">
		<div class="test">
			<div class="c-subhed">
				<h3 class="c-subhed__info">
					Welcome to our registry
				</h3>
				<h2 class="c-subhed__text">
					Celebrate our love with a gift from the heart.
				</h2>
			</div>
		</div>
	</div>

</div>

<div class="c-breaker white section">
	<div class="test">
		<div class="c-paragraph col col-1-2">
			<h2 class="c-paragraph__heading">
				Our Story
			</h2>
			<p class="c-paragraph__text">
				Both strangers to Boston and ready for adventure, we met in 2010. For five years we've had amazing, crazy, and unforgettable experiences together.  Last November, James proposed while camping in Yellowstone National Park, and it was utterly perfect. We could not be more excited to spend the rest of our lives looking for new adventures together.
			</p>
		</div
		><div class="c-paragraph col col-1-2">
			<h2 class="c-paragraph__heading">
				Our Registry
			</h2>
			<p class="c-paragraph__text">
				As we begin our lives together, we want to share our joy by supporting people in need. We are inspired by the work that HELPS International is doing to improve the health and wellbeing of people in Guatemala and invite you to choose items on our behalf to support this project.
			</p>
		</div>
	</div>
</div>

<div class="test">
	<div class="meta center">About Our Project</div>
	<div class="c-project-tabbed">
		<div class="c-project-tabbed__header">
			<div class="c-project-tabbed__header--wrapper">
				<span class="c-project-tabbed__header--subtitle">PROJECT</span>
				<h2 class="c-project-tabbed__header--title">Support life saving surgeries in Guatemala</h2>
			</div>
			<div class="c-project-tabbed__header--overlay"></div>
		</div>
		<ul class="c-project-tabbed__menu">
			<li class="c-project-tabbed__menu-item active">
				<a href="#">Overview</a>
			</li>
			<li class="c-project-tabbed__menu-item">
				<a href="#">Problem & Solution</a>
			</li>
			<li class="c-project-tabbed__menu-item">
				<a href="#">How It Works</a>
			</li>
			<li class="c-project-tabbed__menu-item">
				<a href="#">Sustainability</a>
			</li>
		</ul>
		<div class="c-project-tabbed__content">
			<div class="c-project-tabbed__content--overview">
				<p class="c-project-tabbed__content--overview--summary">
					Bring free, high quality medical care to those in need by supporting medical missions that serve the most vulnerable populations of Guatemala.
				</p>
				<aside class="c-project-tabbed__content--overview--partner">
					<span>Project Partner</span>
					<h4>HELPS International</h4>
					<div class="geography">* Guatemala</div>
					<a href="#" class="site">* helpsintl.org</a>
				</aside>
			</div>
		</div>
	</div>

	<div class="c-circle"></div>
	</div>
</div>

<div class="c-breaker purple">
	<h4 class="meta center">Registry Gift Items</h4>
	<div class="test flex">
		<div class="c-registry-card flex-2">
			<h3 class="c-registry-card__title">
				Surgical equipment (sponges, needles, clamps, scalpels, etc)
			</h3>
			<div class="c-registry-card__info">
				<div class="c-registry-card__price">
					$30
				</div>
				<button class="c-registry-card__gift">
					<span>Gift this item</span>
				</button>
			</div>
			<div class="c-registry-card__qty">
				<div>
					<label>Quantity</label>
					<input type="number" placeholder="1"></input>
				</div>
				<button class="c-registry-card__cart">
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
		<div class="c-registry-card flex-2">
			<h3 class="c-registry-card__title">
				Surgical equipment (sponges, needles, clamps, scalpels, etc)
			</h3>
			<div class="c-registry-card__info">
				<div class="c-registry-card__price">
					$30
				</div>
				<button class="c-registry-card__cart">
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
	</div>
	<div class="test flex">
		<div class="c-registry-card flex-2">
			<h3 class="c-registry-card__title">
				Surgical equipment (sponges, needles, clamps, scalpels, etc)
			</h3>
			<div class="c-registry-card__info">
				<div class="c-registry-card__price">
					$30
				</div>
				<button class="c-registry-card__cart">
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
		<div class="c-registry-card flex-2">
			<h3 class="c-registry-card__title">
				Surgical equipment (sponges, needles, clamps, scalpels, etc)
			</h3>
			<div class="c-registry-card__info">
				<div class="c-registry-card__price">
					$30
				</div>
				<button class="c-registry-card__cart">
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
	</div>
</div>

<footer class="c-footer">
	<div class="test">
		This is the footer where footer things will go.
	</div>
</footer>
