---
title: Heartful.ly Components
---

<%= partial "components/nav" %>
<%= partial "components/hero" %>

<%= lorem.paragraphs 30 %>

<!--<h1>Heartful.ly Components</h1>
<%#= link_to "Subhed", "components/subhed.html" %>
<%#= link_to "Paragraph", "components/paragraph.html" %>
<%#= link_to "Circle Photo", "components/circle.html" %>
<%#= link_to "Project: Tabbed", "components/project-tabbed.html" %>-->

<%#= partial "components/hero" %>

<%#= partial "components/breaker" %>

<%#= partial "components/paragraph" %>

<%#= partial "components/project-steps" %>

<%#= partial "components/forms" %>

<%#= partial "components/project-tabbed" %>

<%#= partial "components/project-mini" %>

<%#= partial "components/registry-card" %>

<%#= partial "components/footer" %>

<!-- PROJECT PAGE -->
